body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px;
}

.form {
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: #666;
}

.input-box {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.info {
    margin-top: 20px;
}

.info h1 {
    font-size: 20px;
    color: #555;
    margin: 0;
}

.github-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.github-icon:hover {
    color: #000;
}